@import "styles/variables";
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 7fr 3fr;

  h1 {
    margin: 0;
  }
}

.flow-container {
  width: 100%;
  height: 100vh;
}

.panel-container {
  display: flex;
  flex-direction: column;

  border-left: 2px solid #a7a7a7;
}

.save-btn-container {
  background-color: #a7a7a7;
  padding: $sp-md;
  display: flex;
}

.save-btn {
  justify-self: flex-end;
}
