@import "styles/variables";
.container {
    background-color: #fff;
    min-width:300px;
    border-radius: $sp-md;
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.22);
}

.header {
    background-color: $message-node-header;
    padding:$sp-xs;
    border-top-left-radius: $sp-sm;
    border-top-right-radius: $sp-sm;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding:$sp-lg;
}

.header-logo {
    width:20px;
    position: relative;
    height:20px;
}